body {}


h1 {
	font-size 20px;
}


.SMSmessenger {
	width:300px;
	height:400px;
	background-color:blue;
}    

.receiver {
	height:60px;
    background-color:red;
}
    
.middle{

    }
    
.input{
	height:60px;
}

.field{
	width:210px;
	height:50px;
	background-color:white;

}

button{
	width:70px;
	height:32px;

}