* {
 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


h1 {
	font-size: 40px;
}

.SMSmessenger {
	outline:1px solid black;
	width:300px;
	height:400px;
	margin: 0;

	background-color:blue;
}    

.receiver {
	outline:1px solid black;
	height:60px;
    background-color:red;
    margin:0;
    padding: 0;
}

.receiver .gatewayNumber {
	padding: 10px;
	text-align:center;
}
    
.middle {
	outline:1px solid black;
	height: 270px;
	padding: 0;
	position: relative;
 }

.middle .responseSystem {
	color: white;
	position: absolute; 
	bottom: 0;
	padding: 10px;
}
    
.input{
	position: relative;
	padding: 10px;
}

.message{
	position: absolute;
	outline:1px solid black;
	width:210px;
	height:50px;
	background-color:white;
	padding: 5px;
	
}

.input button{
	position: static;
	width: 70px;
	height: 32px;
	padding: 5px;
	margin-left: 210px;
}